@import url('https://fonts.googleapis.com/css?family=Barlow:400,700&display=swap');

maxWidth = 1024px
dm_gray = #EEEEF0
wm_primary1 = #575195
wm_primary2 = #353b48
wm_accent1 = #c6b4e3
wm_accent2 = #8b86ca

dm_grayA(A)
	rgba(238, 238, 240, A)
wm_primary1A(A)
	rgba(87, 81, 149, A)
wm_primary2A(A)
	rgba(53, 59, 72, A)
	
theFont = 'Barlow', sans-serif
fontHeaderWeight = 700