maxWidth = 1024px
dm_gray = #EEEEF0
wm_primary1 = #575195
wm_primary2 = #353b48
wm_accent1 = #c6b4e3
wm_accent2 = #8b86ca

/* Directory customization */

.faculty-card {
	background-color: hsl(0, 0%, 96%);
	padding: 0.5em 0.5em 0.5em 7em;
	margin: 0 0 1em;
	max-width: none;
	width: (maxWidth/2) - 12
	border: 0.125em solid hsl(0, 0%, 70%);
	transition: border-color 100ms ease-in-out;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4IiBoZWlnaHQ9IjE2NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBmaWxsPSIjRTZFNkU2IiBkPSJNMCAwSDEyOFYxNjRIMHoiLz4KICA8cGF0aCBkPSJNNjQuMDY0NSA5NS40Mjg2Qzc4LjMzNDggOTUuNDI4NiA4OS45MDMyIDgzLjkxNTkgODkuOTAzMiA2OS43MTQzIDg5LjkwMzIgNTUuNTEyNyA3OC4zMzQ4IDQ0IDY0LjA2NDUgNDQgNDkuNzk0MiA0NCAzOC4yMjU4IDU1LjUxMjcgMzguMjI1OCA2OS43MTQzIDM4LjIyNTggODMuOTE1OSA0OS43OTQyIDk1LjQyODYgNjQuMDY0NSA5NS40Mjg2ek02NC4wNjQ1IDEwNEM0MC4yODA2IDEwNCAyMSAxMjMuMjgxIDIxIDE0Ny4wNjVWMTY0SDEwNy4xMjlWMTQ3LjA2NUMxMDcuMTI5IDEyMy4yODEgODcuODQ4NCAxMDQgNjQuMDY0NSAxMDR6IiBmaWxsPSIjMzMzIi8+Cjwvc3ZnPg==");
}

.faculty-card:hover {
	border-color: hsl(0, 0%, 50%);
}

.entry-content::after {
	content: "";
	display: table;
	clear: both;
}

.page-id-52 .entry-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.faculty-name {
	font-size: 1.5em;
	font-weight: 700;
}

.faculty-position {
	display: block;
	font-style: italic;
	margin-bottom: 0.5em;
}

/* Web profiles customizations */
#dm-web-profile-root {
	max-width: none;
}

.dm-profile-heading, .dm-profile-tabs__link {
	font-family: "din-condensed-web", sans-serif;
	text-transform: uppercase;
}

.dm-profile-activities {
  font-family: "Noto Serif", Georgia, serif !important;
	max-width: none !important;
}

.dm-profile-heading,
.dm-profile-activities {
	color wm_primary2
}

.dm-profile-section--static b {
	text-transform: uppercase;
	font-family: "din-condensed-web", sans-serif;
}

.dm-profile-section--static b span {
	font-size: 2.5em !important;
	line-height: 1.2;
}

.dm-profile-section--static .dm-profile-heading--level-2 {
	font-size: 1.5em;
}

.dm-profile-section--static .dm-profile-activities {
	color: #fff;
}

.dm-profile-tabs {
	margin: 1em auto !important;
}

.dm-profile-tabs__link
	font-size: 1.5em !important;
	letter-spacing: 0.0375em;
	font-weight: 400 !important;
	padding: 0.125em 1em !important;
	margin: 0 0.5em 0.5em !important;
	display: block
	transition transform 100ms ease-in-out
	transform translateY(0)
	background-color wm_primary1

@media (max-width: 640px)
	.dm-profile-tabs__link
		text-align: left;
		text-align: start;

.dm-profile-tabs__link:visited {
	color: #fff;
}

.dm-profile-tabs__link:hover {
	color: white;
	transform: translateY(-0.125em);
}

.dm-profile-tabs__item {
	background-color: transparent !important;
	padding: 0 !important;
	margin: 0 !important;
}

.dm-profile-tabs__item--active .dm-profile-tabs__link {
	background-color wm_primary2
}

.dm-profile-activities-group-item {
	margin-left: 0 !important;
}

ol.dm-profile-activities,
ul.dm-profile-activities,
.dm-profile-activities-group {
	margin: 0 !important;
	max-width: none !important;
}

.dm-profile-activities li {
	margin-left: 0;
	margin-bottom: 0;
}
